{
  "extends": "airbnb",
  
  "env": {
      "browser": true,
      "node": true
  },

  "globals": {
      "React": true
  },

  "ecmaFeatures": {
      "jsx": true
  },

  "plugins": [
      "react"
  ],
  "rules": {
    "no-unused-vars": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "no-trailing-spaces": 0
  }
}