@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

body {
   /* display: flex;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;*/
}

.container-fluid {
  padding-left: 0;
  margin-left: -15px;
}

.main-container {
    flex: 1;
    transform: translate3d(220px, 0, 0);
    transition: transform .3s;
    height: 80%;
    width: 80%;
    margin-top: 0;
    /*background: #C5DDEB;*/
}

.main-container.isOpen {
    transform: translate3d(220px, 0, 0);
}

#sidebar-wrapper {
  position: fixed;
  height: 900px;
  overflow-y: auto;
  background: #edf1f2;
  width: 220px;
  background: linear-gradient(#21c2c5, #2f9be7); 
}

#sidebar-title {
  font: 16px/1 'Montserrat', sans-serif;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #213648;
  background: #63a9ce;
  margin-bottom: 0px;
  padding-left: 15px;
}

.sidebar-nav {
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  width: 220px;
  left: 0px;
}

.sidebar-nav li a {
  position: relative;
  display: block;
  padding: 12px 0px 12px 28px;
  font: 12px/1 'Montserrat', sans-serif;
  color: #fffef8;
  text-decoration: none;
}

.sidebar-nav li:hover {
  background: rgba(51, 122, 183, 0.65);
}


/*List Item icons from Font Awesome*/
.sidebar-nav li a:before {
  font: 14px fontawesome;
  position: relative;
  top: 1px;
  left: -12px;
}

.sidebar-nav li:nth-child(1) a:before { content: '\f00a'; }
.sidebar-nav li:nth-child(2) a:before { content: '\f0c0'; }
.sidebar-nav li:nth-child(3) a:before { content: '\f0e8'; }
.sidebar-nav li:nth-child(4) a:before { content: '\f201'; }
.sidebar-nav li:nth-child(5) a:before { content: '\f012'; }
.sidebar-nav li:nth-child(6) a:before { content: '\f115'; }
.sidebar-nav li:nth-child(7) a:before { content: '\f087'; }
.sidebar-nav li:nth-child(8) a:before { content: '\e163'; }
/*.sidebar-nav li:nth-child(9) a:before { content: '\f023'; }*/

.top-nav {
  list-style-type: hidden;
  overflow: hidden;
  background-color: #eee;
  height: 66px;
  flex: 1;
  transform: translate3d(220px, 0, 0);
  transition: transform .3s;
  margin-bottom: 0px;

  border-width: 0.5px;
  border-color: red;
  border-style: solid;
}

.main-container.isOpen {
  transform: translate3d(220px, 0, 0);
}

.toggleSidebar {
  cursor: pointer;
}

.toggleSidebar:before {
  content: '\f0c9';
  font: 42px fontawesome;
}

.top-nav a {
  text-decoration: none;
  margin-top: 0px;

}
