@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    background: #edf1f2;
    width: 220px;
    background: #2a2a2a;
}

#sidebar-title {
    font: 16px/1 'Montserrat', sans-serif;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #eee;
    border-bottom: 1px solid #222;
    background: #2a2a2a;
    margin-bottom: 0px;
}

.sidebar-nav {
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    width: 220px;
    left: -40px;
}

.sidebar-nav li a {
    position: relative;
    display: block;
    padding: 12px 0px 12px 29px;
    /*font-size: 12px;*/
    font: 12px/1 'Montserrat', sans-serif;
    color: #eee;
    border-bottom: 1px solid #222;
    text-decoration: none;
}

.sidebar-nav li a:hover {
  background: #444;
}


/*List Item icons from Font Awesome*/
.sidebar-nav li a:before {
  font: 14px fontawesome;
  position: relative;
  top: 1px;
  left: -12px;
}

.sidebar-nav li:nth-child(1) a:before { content: '\f00a'; }
.sidebar-nav li:nth-child(2) a:before { content: '\f0c0'; }
.sidebar-nav li:nth-child(3) a:before { content: '\f0e8'; }
.sidebar-nav li:nth-child(4) a:before { content: '\f201'; }
.sidebar-nav li:nth-child(5) a:before { content: '\f012'; }
.sidebar-nav li:nth-child(6) a:before { content: '\f115'; }
.sidebar-nav li:nth-child(7) a:before { content: '\f087'; }
.sidebar-nav li:nth-child(8) a:before { content: '\f085'; }
.sidebar-nav li:nth-child(9) a:before { content: '\f023'; }


/*
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-part {
    width: 250px;
    list-style: none;
}

.sidebar-nav > .sidebar-brand {
    height: 15px;
    font-size: 14px;
    text-indent: 60px;
    margin-top: 20px
}

.sidebar-nav > .sidebar-brand a {
    color: #202020;
}

.sidebar-nav .sidebar-part li {
    text-indent: 20px;
    line-height: 30px;
}

.sidebar-nav .sidebar-part li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav .sidebar-part li a:hover {
    text-decoration: none;
    color: #fafdfd;
    background: rgba(255,66,20,0.8);
}

.sidebar-nav .sidebar-part li a:active,
.sidebar-nav .sidebar-part li a:focus {
    text-decoration: none;
}

.main-container {
    position: absolute;
    margin-top: 55px;
    left: 21%;
    height: 91%;
    width: 77%;
    background-color: #ecf0f1;
}

