.home-image {
/*  width: 100%;
  height: 100%;*/
/*  background: url('../images/dude2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  
  background: url('../images/dude2.png') no-repeat center center fixed;
  opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.signupForm {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}
.signupButton {
  text-align: center;
}

