.top-container {
	width: 100%;
	border-width: 3px;
	border-color: #1f2324;
	border-style: solid;
	display: inline-block;
}
.patient-info-container {
	margin-top: 20px;
	margin-left: 20px;
	width: 60%;
	border-width: 3px;
	border-color: #1f2324;
	border-style: solid;
	display: inline-block;
}

.patient-info {
	display: inline-block;
	position: relative;
	vertical-align: middle;
/*	border-width: 3px;
	border-color: #1f2324;
	border-style: solid;*/
}

#patient-image {
    width: 130px;
    height: 130px;
    margin: 20px;
}

.right-container {
	position: relative;
	float: right;
	width: 30%;
	display: inline-block;
	margin-top: 20px;
	margin-right: 20px;
	border-width: 3px;
	border-color: #1f2324;
	border-style: solid;
}

.side-panel {
	/*width: 35%;*/
}