
.main-container {
	flex: 1;
	transform: translate3d(0, 0, 0);
	transition: transform .3s;
	/* size of navbar, changed for now */
	margin-left: 220px;
}

.main-container.isOpen {
	transform: translate3d(220px, 0, 0);
}
.top-container {
	width: 100%;
	display: inline-block;
	background-color: #ecf0f1;
	padding: 15px 20px 15px;
	/*border-width: 0.5px;
	border-color: red;
	border-style: solid;*/
}

.top-info {
	display: inline-flex;
}

.col-md-*, .col-sm-*, .row, .container, .col-lg-* {
	padding: 0;
	margin: 0;
}

.user-info-container {
	/*margin-top: 20px;*/
	/*width: 60%;*/
	border-width: 0.5px;
	border-color: #1f2324;
	border-style: solid;
	display: inline-block;
}

.user-info {
	position: relative;
	vertical-align: middle;
	font-size: 16px;
}

.user-info label {
	color: #26a69a;
	font-size: 16px;
}

#user-image {
	overflow: hidden;
  width: 150px;
  height: 150px;
}

.right-container {
	position: relative;
	float: right;
	display: inline-block;
	border-width: 0.5px;
	border-color: #1f2324;
	border-style: solid;
}

.user-detailed-container {
	/*margin-top: 20px;
	margin-left: 20px;*/
	/*width: 60%;
	height: 40%;*/
	border-width: 0.5px;
	border-color: #1f2324;
	border-style: solid;
	display: inline-block;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.data-container {
	position: relative;
	width: 45%;
	display: inline-block;
	margin: 10px;
}

.chart-container {
	/*position: relative;*/
	width: 100%;
	/*margin: 10px;*/
/*	border-width: 3px;
	border-color: #c0392b;
	border-style: solid;*/
}

.panel-body {
	width: 100%;
}

.chart {
	/*position: relative;*/
	width: 100%;
	border-width: 3px;
	border-color: #c0392b;
	border-style: solid;
}

.chart-info {
	/*position: relative;*/
	width: 100%;
	text-align: center;
	border-width: 3px;
	border-color: #c0392b;
	border-style: solid;
}

/*///////////////////////////////*/

