.main-container {
	flex: 1;
	transform: translate3d(0, 0, 0);
	transition: transform .3s;
	/* size of navbar, changed for now */
	margin-left: 220px;
	/*border: 1px solid red;*/
	background-color: #e3e6e8;
}

.main-container.isOpen {
	transform: translate3d(220px, 0, 0);
}
.top-container {
	width: 100%;
	display: inline-block;
	background-color: #ecf0f1;
	padding: 15px 20px 15px;
}

.top-info {
	display: inline-flex;
}

.col-md-*, .col-sm-*, .row, .container, .col-lg-* {
	padding: 0;
	margin: 0;
}

.user-info-container {
	/*margin-top: 20px;*/
	/*width: 60%;*/
	border-width: 0.5px;
	border-color: #1f2324;
	border-style: solid;
	display: inline-block;
}

.user-info {
	position: relative;
	vertical-align: middle;
	font-size: 16px;
}

.user-info label {
	color: #26a69a;
	font-size: 16px;
}

#user-image {
	overflow: hidden;
  width: 150px;
  height: 150px;
}

.right-container {
	position: relative;
	float: right;
	display: inline-block;
	border-width: 0.5px;
	border-color: #1f2324;
	border-style: solid;
}

.user-detailed-container {
	/*margin-top: 20px;
	margin-left: 20px;*/
	/*width: 60%;
	height: 40%;*/
	border-width: 0.5px;
	border-color: #1f2324;
	border-style: solid;
	display: inline-block;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.data-container {
	position: relative;
	width: 45%;
	display: inline-block;
	margin: 10px;
}

.chart-container {
	/*position: relative;*/
	width: 100%;
	/*margin: 10px;*/
/*	border-width: 3px;
	border-color: #c0392b;
	border-style: solid;*/
}

.panel-body {
	width: 100%;
}

/*.chart {
	position: relative;
	width: 100%;
	border-width: 3px;
	border-color: #c0392b;
	border-style: solid;
}

.chart-info {
	position: relative;
	width: 100%;
	text-align: center;
	border-width: 3px;
	border-color: #c0392b;
	border-style: solid;
}*/

/*//////////////CHARTS/////////////////*/

.sleep-chart-container, .mem-chart-container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
/*  border-width: 0.5px;
  border-color: red;
  border-style: solid;*/
  margin-top: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  border-radius: 4px;
}
.sleep-chart, .mem-chart {
	width: 500px;
	height: 160px;
/*    border-width: 0.5px;
	border-color: red;
	border-style: solid;*/
}

.food-chart-container, .exercise-chart-container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
/*  border-width: 0.5px;
  border-color: red;
  border-style: solid;*/
  margin-top: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  border-radius: 2px;
  font: 14px/20px "Lato", Arial, sans-serif;
}
.food-chart, .exercise-chart {
	margin-top: 1em;
	width: 200px;
	height: 110px;
/*    border-width: 0.5px;
	border-color: red;
	border-style: solid;*/
}

.chart-title {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	padding-top: 0.5em;
}

.chart-result {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.15em;
	-webkit-font-smoothing: antialiased;
	margin-top: -0.5em;
	margin-bottom: 0.5em;
}

.chart-row {
	position: relative;
	width: 37em;
	height: 12em;
	border-width: 0.5px;
	border-color: red;
	border-style: solid;

}

.chart-item {
	position: relative;
	display: inline-block;
	width: 12em;
	height: 12em;
	border-width: 0.5px;
	border-color: red;
	border-style: solid;
}

.profile-body {
  width: 100%;
}

..member-icon {
  width: 10em;
  height: 10em;
  border: 3px solid #92959E; 
}

.tips-container {
	margin-top: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background: #fff;
	border-radius: 2px;
	font: 14px/20px "Lato", Arial, sans-serif;
	height: 16em;
}

.tips-image {
	display: inline-block;
	width: 40%;
	padding-left: 1em;
	padding-top: 3em;
	vertical-align: top;
}

.tips-description {
	display: inline-block;
	width: 60%;
	padding: 1em;
}

.tip-icon {
	height: 10em;
	width: 15em;
}