.profile-image-container {
  color: rgba(0, 0, 0, 0.7);
  width:15em;
  /*margin: 0 auto;*/
  overflow: hidden;
  position: relative;
  height: 18em;
}

.profile-image {
  width: 14em;
  height: 18em;
}

.profile-text-box {
  position: relative;
  border-width: 0.5px;
  border-color: transparent;
  border-style: solid;
  margin-top: -18em;
  margin-left: 0em;
  width: 14em;
  height: 18em;
  background: #CCC;
  background-color: rgba(0, 0, 0, 0.3);
}

.profile-inner-text-box {
  /*margin: 2em;*/
  margin-top: 15.5em;
  margin-left: 2.8em
}

.profile-text-small {
 color: #ffffff;
 font: 21px/1 'Roboto', sans-serif;
}

.profile-bottom-bar {
  position: relative;
  border-width: 0.5px;
  border-color: transparent;
  border-style: solid;
  margin-top: 0em;
  margin-left: 0em;
  width: 14em;
  height: 40em;
  background: #CCC;
  background-color: rgba(0, 24, 47, 0.6);
}

.profile-stat-row {
  margin-top: 1em;
  position: relative;
  width: 100%;
    text-align: center;
/*  border-width: 0.5px;
    border-color: red;
    border-style: solid;*/
}

.profile-stat-row-item {
  display: inline-block;
  height: 3.5em;
  width: 4.5em;

/*  border-bottom-width: 0.5px;
  border-bottom-color: white;
  border-bottom-style: solid;*/
}

.first {
    border-right-width: 0.5px;
    border-right-color: white;
    border-right-style: solid;
}

.top {
  margin-top: 1em;
  border-top-width: 0.5px;
  border-top-color: white;
  border-top-style: solid;
}

.bottom {
  border-bottom-width: 0.5px;
  border-bottom-color: white;
  border-bottom-style: solid;
}

.profile-stat-value {
    color: #ffffff;
    font: 1.2em 'Roboto', sans-serif;
    margin-top: 0.4em;
}

.profile-stat-description {
 color: #ffffff;
 font: 10px/1 'Roboto', sans-serif;
 margin-top: 0.4em
}

.profile-stat-header {
    margin-top: 1em;
/*    border-width: 0.5px;
    border-color: red;
    border-style: solid;*/
}

.profile-stat-header-text {
     margin-left: 1.5em;
     color: #ffffff;
     font: 14px/1 'Roboto', sans-serif;
     border-bottom-width: 0.5px;
     border-bottom-color: white;
     border-bottom-style: solid;
     width: 4.75em;
}

.height-image {
  width: 1.7em;
  /*height: 4em;*/
}

.height {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/*//////////////////////*/

.profile-activity-bar {
  position: absolute;
  right: 0;
  top: 0;
  border-width: 0.5px;
  border-color: transparent;
  border-style: solid;
  margin-top: 0em;
  margin-left: 0em;
  width: 22%;
  height: 100%;
  background: #CCC;
  background-color: #ecf0f1; 
  /*rgba(0, 24, 47, 0.6);*/
}

.profile-activity-header {
  margin-top: 1em;
  position: relative;
  width: 100%;
  text-align: center;
  border-width: 0.5px;
  border-color: red;
  border-style: solid;
}
.profile-text-header {
 color: #768589;
 font: 100% 'Roboto', sans-serif;
}

.profile-text-header-container {
  display: inline-block;
  height: 100%;
  width: 72%;
  border-bottom-width: 0.5px;
  border-bottom-color: #768589;
  border-bottom-style: solid;
}

.profile-activity-body {
  margin-top: 0.5em;
  position: relative;
  width: 100%;
  text-align: center;
  border-width: 0.5px;
  border-color: red;
  border-style: solid;
}

.profile-text-body {
 color: #768589;
 font: 68% 'Roboto', sans-serif;
}

.profile-text-body-title {
 color: #768589;
 font: 84% 'Roboto', sans-serif;
}

.profile-text-body-container {
  /*display: inline-block;*/
  margin-top: 0.5em;
  position: relative;
  height: 3.5em;
  width: 16em;
  border-width: 0.5px;
  border-color: red;
  border-style: solid;
}

.profile-body-left {
  display: inline-block;
  vertical-align: middle;
}

.profile-body-right {
  display: inline-block;
  vertical-align: middle;
}

.activity-icon {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.35rem;
  border-width: 0.5px;
  border-color: #CCCBCB;
  border-style: solid;
}

p {
    margin: 0% 0% 0%;
}
