.div {
  border-width: 2px;
  border-color: red;
  border-style: solid;
}

.chart {
  height: 350px;
  width: 900px;
}

.bar {

}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.stats-box {
  display: inline-block;
  height: 445px;
  width: 445px;
  margin-right: 10px;
}