.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.stats-box-inner {
  padding-top: 1em;
  display: block;
  height: 12em;
  width: 98%;
  margin: auto auto;
  text-align: center;
  border: 1px solid red;
}

button.stats-axis-type {
  margin: 0.5em 0.2em;
}

.daily-stat-container {
  margin: 1em 3em 1em 3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  border-radius: 2px;
  font: 14px/20px "Lato", Arial, sans-serif;
  height: 100%;
  width: 90%;
}

#daily-stat-chart {
  height: 27em;
  width: 68em;
  text-align: center;
}

.stat-chart-title {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  padding-top: 1em;
  text-align: center;
}

.regression-chart-container {
  margin: 1em 0.5em 1em 3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  border-radius: 2px;
  font: 14px/20px "Lato", Arial, sans-serif;
  height: 32em;
  width: 90%;
}

#regression-chart {
  height: 28em;
  width: 32em;
  text-align: center;
}

.chart-control-container {
  margin: 1em 3em 1em 0.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  border-radius: 2px;
  font: 14px/20px "Lato", Arial, sans-serif;
  height: 32em;
  width: 90%;
}