.team-main {
  background-color: #DDDDE4;
}

.team-user {
  width: 100%;
  border-width: 3px;
  border-style: solid;
  display: inline-block;
  background-color:  #392D61;
  text-align: center;
  font-size: 20px;
}

#team-user-image {
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#team-team-image {
  width: 80px;
  height: 80px;
}

.teamMember-image {
  display: inline-block;
}
.teamMemberList {
  list-style: none;
  text-align: center;
}

.team-user-steps {
  text-align: center;
}

.team-user-score {
  text-align: center;
}