 /*add element to the list below to show red borders */
/*.team-header , .team-icon-container, .team-image-container, .team-title-container, .team-members-container{
  border-width: 0.5px;
  border-color: red;
  border-style: solid;
}*/

.team-list-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  border-radius: 2px;
  width: 98%;
  margin: 1%;
  position: relative;
}

.team-list-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.team-info-container {
  position: relative;
  width: 100%;
  height: 10em;
}

.team-icon-container {
  /*position: relative;*/
  display: inline-block;
  width: 25%;
/*  height: 10em;
  vertical-align: top;
  overflow: auto;*/
}

/*.team-icon-container:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1
}*/

.team-image-container {
  position: relative;
  padding-bottom: 44.25%;
  padding-top: 47px;
  height: 0;
}

.team-icon {
  position: absolute; 
  top: 22px; 
  left: 0; 
  width: 100%; 
  height: 100%;
  padding: 1rem;
  border-width: 0.5px;
  border-color: #CCCBCB;
  border-style: solid;
}

.team-title-container {
  position: relative;
  display: inline-block;
  width: 75%;
  height: 10em;
}

.team-members-container {
  position: relative;
  width: 100%;
  height: 6em;
}

.user-icon {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.35rem;
  border-width: 0.5px;
  border-color: #CCCBCB;
  border-style: solid;
}

.team-member {
  display: inline-block;
  width: 20%;
}

.team-header-items {
  display: inline-block;
  margin: 10px;
}

.team-header-button-container {
  float: right;
}

#createNewTeamModal {
  z-index: 1000;
}

.team-text-title {
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 14px;
  color: #AFADAD;
}

.team-text-body {
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 12px;
  color: #CCCBCB;
}

/*Join Team Modal styling*/

/*.join-icon-container, .join-title-container {
  border-width: 0.5px;
  border-color: red;
  border-style: solid;
}*/

.join-list-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  border-radius: 2px;
  width: 45rem;
  margin: 1%;
  position: relative;
}

.join-list-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.join-team-icon {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  border-width: 0.5px;
  border-color: #CCCBCB;
  border-style: solid;
}

.join-title-container {
  position: relative;
  display: inline-block;
  width: 35rem;
  height: 10rem;
  /*margin: 0;*/
}

.join-icon-container {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  /*margin: 0;*/
  vertical-align: top;
  overflow: auto;
}

.join-text-title {
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 14px;
  color: #AFADAD;
}

.join-text-body {
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 12px;
  color: #CCCBCB;
}

/*Create new team modal styling */

.create-icon-container {
  text-align: center;
  margin: 1em;
}

.create-team-icon {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  border-width: 0.5px;
  border-color: #CCCBCB;
  border-style: solid;
}

