body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.card-img-top {
  width: 150px;
  height: 150px;
  margin-left: 65px;
}

.card {
  float: left;
  width: 300px;
  padding: 10px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.card-block {
  text-align: center;
}
.card-title {
  text-align: center;
  font-size: 20px;
}
.entryQuestion {
  font-size: 20px;
  padding: 20px 0;
  text-align: left;
}
.btn-primary {
  background-color: #15C2DE;
  border-color: #15C2DE;
  margin-top: 8px;
}

.entry-card {
  width: 600px;
  margin-top: 15px;
  height: 26em;
}
.entry-block {
  padding-left: 20px;
}

.user-img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin: 0.35rem;
}
.user-name {
  padding-right: 20px;
}
.user-rank {
  text-align: center;
}

div.results {
  margin-top: 20px;
  padding-top: 20px;
}
.leaderboard {
  padding-top: 20px;
}
.leaderboard-title {
  text-align: center;
  padding-bottom: 15px;
}
.leaderboard-head {
  padding-bottom: 5px;
}

.start-quiz {
  background: url("http://evolutionfitnessorlando.com/wp-content/uploads/2012/09/NutritionTrainingLogo-copy41-499x389.png") no-repeat center;
  background-size: cover;
}
.star-img {
  height: 330px;
  width: 400px;
  margin-left: 4em;
}

.current-score, .leaderboard-title {
  font-size: 20px;
  color: steelblue;
}
.questionStatus {
  font-size: 18px;
}